@media (min-width:600px){
    body{
        background: url('../images/bg-desktop.png') no-repeat fixed center;
        background-size: cover;
        max-width: 1440px;
        display: flex;
    }
}